html 
    head
        link(rel="stylesheet", href="./styles/deleteAccount.css")
        title Helados Vagabundos
    
    body 
        nav()
            img(src="https://static.vecteezy.com/system/resources/previews/014/179/735/original/ice-cream-doodle-png.png" width="80px" height="80px" id=logo alt="Logo image" style="margin-left: 10px;")
            ul(class="navigationBar")
                li()
                    form(method="post" action="/backHome" class="navigationBarForm")
                        button() Home
                    form(method="post" action="/accountMenu" class="navigationBarForm")
                        button() Account
                    form(method="post" action="/addProductMenu" class="navigationBarForm")
                        button() Add Product
        div(class="titulo") Sure?
        div(class="padre")
            div(class="agregar")
                center()
                    form(method="post" action="/deleteUser")
                        input(id="add" type="submit" value="Yes")
                    form(method="post" action="/backhome")
                        input(id="add" type="submit" value="Cancel")
